<!DOCTYPE html>
<html lang="en">

<head th:insert="header">

    <meta charset="UTF-8">
    <title>Catalogue</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

<ul>
    <li th:each="categoryName : ${categoryNamesList}">
        <span th:text="${categoryName}"></span>
    </li>
</ul>

</body>
</html>