<!DOCTYPE html>
<html lang="en">

<head th:insert="header">

    <meta charset="UTF-8">
    <title>Catalogue</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
<div id="categories">

    <ul>
        <li th:each="categoryName : ${categoryNamesList}">
            <button class="clickable" th:attr="onclick=|onClickCateg(${categoryName.getId()})|" th:text="${categoryName.getCategoryName()}"></button>
            <div th:id="'subCategories_' + ${categoryName.getId()}"></div>
        </li>
    </ul>

</div>

<script th:inline="javascript">

        var subCategoryList = [[${subCategoryList}]];
        console.log(subCategoryList[0].id_category);

        function onClickCateg(id_category) {


            subCategoryList.forEach(function (subCategory) {
                if (subCategory.id_category === id_category) {
                    var subCategoriesDiv = document.getElementById("subCategories_" + id_category);
                    subCategoriesDiv.innerHTML = " ";
                    var subCategoryElement = document.createElement("div");
                    subCategoryElement.textContent = subCategory.subCategoryName;
                    subCategoriesDiv.appendChild(subCategoryElement);
                }
            });

    }
</script>


</body>
</html>