<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Catégories</title>
    <style>
        .category {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<h1>Ajouter des Catégories</h1>
<form id="categoryForm" method="POST" action="/categories">
    <input type="hidden" name="bddname" th:value="${bddname}" />
    <div id="categories">
        <div class="category" data-category-id="1">

            <label for="categoryName_1">Nom de la catégorie:</label>
            <input type="text" id="categoryName_1" name="categories1" required>
            <br>
            <label for="subcategoryName_1">Nom de la sous catégorie 1:</label>
            <input type="text" id="subcategoryName_1" name="subcategories1" required>
            <br>
            <label for="subcategoryName_2">Nom de la sous catégorie 2:</label>
            <input type="text" id="subcategoryName_2" name="subcategories2">
            <br>
            <label for="subcategoryName_3">Nom de la sous catégorie 3:</label>
            <input type="text" id="subcategoryName_3" name="subcategories3">
            <br>
            <label for="subcategoryName_4">Nom de la sous catégorie 4:</label>
            <input type="text" id="subcategoryName_4" name="subcategories4">
            <br>
            <label for="subcategoryName_5">Nom de la sous catégorie 5:</label>
            <input type="text" id="subcategoryName_5" name="subcategories5">

        </div>
    </div>
    <button name="action" value="ajoutcateg" type="submit">Ajouter une catégorie</button>
    <button name="action" value="addProduct" type="submit">Passer à la création de produits</button>
</form>

<script>
</script>
</body>
</html>