<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">
    <link rel="stylesheet" href="client.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="client.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="titre">ProxiShop</div>
            <div class="panier">Panier</div>
        </div>
    </header>
    <main>
        <section id="categorie">
            <h2>Voici les catégories</h2>
            <p>Ce menu pourra être déroulé</p>
            <div id="slider">
                <img src="image1.jpg" height="500px" width="500px"  id="slide">
                <div id="gauche" onclick="changement(-1)"><a class="g" id="p" >&#10094;</a></div>
                <div id="droite" onclick="changement(1)"><a class="d" id="n" >&#10095;</a></div>
            </div>
        </section>
        <section id="information">
            <p class="infoPerso">Le commercant saisit ici ses informations.</p>
            <p class="infoReseau">Suivez-moi sur mes réseaux!</p>
            <div id="infos">
                <img src="visage.png" height="200px" width="200px" id="visage">
                <a href="https://www.tiktok.com" target="_blank"><img src="logos/tiktok.png" height="100px" width="100px" class="reseau"></a>
                <a href="https://www.facebook.com" target="_blank"><img src="logos/facebook.png" height="100px" width="100px" class="reseau"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="logos/twitter.png" height="100px" width="100px" class="reseau"></a>
                <a href="https://www.whatsapp.com" target="_blank"><img src="logos/whatsapp.png" height="100px" width="100px" class="reseau"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="logos/instagram.png" height="100px" width="100px" class="reseau"></a>
            </div>
            <div id="map" style="width: 750px; height: 500px;"></div>
        </section>
        <section id="mention">
            <p><a href="mention.html">Mentions légales</a></p>
            <p>Contacts</p>
        </section>
        <section id="pub">
            <h2></h2>
            <p>Ce site a été crée par ProxiShop, plus d'info sur : www.proxishop.fr</p>
        </section>
    </main>
</body>
</html>