<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Contactez-nous</title>
</head>
<body>
    <div class="contact_container">
        <h2>Des questions? Un problème? Contactez-nous!</h2>
        <p class="text">Nous sommes joignables du lundi au jeudi de 9h à 16h00</p>
        <p class="text">par mail: proxishop@gmail.com</p>
        <p class="text">par téléphone: 06 01 02 03 04</p>
    </div>
</body>
</html>