<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/fragments :: headerfiles"></div>
    <title>contactez-nous</title>
</head>
<body>
<div class="contact_container">
    <h2>Des questions? Un problème? Contactez-nous!</h2>
    <p class="text">Nous sommes joignables du lundi au jeudi de 9h à 16h00</p>
    <p class="text">par mail: proxishop@gmail.com</p>
    <p class="text">par téléphone: 06 01 02 03 04</p>
</div>

</body>
<footer th:insert="fragments/fragments :: footer"></footer>
</html>