<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Gestion des cookies</title>
</head>
<body>
    <div class="contact_container">
        <h2>Gestion des cookies</h2>
        <p class="text"><b>Qu'est-ce qu'un cookie ?</b><br>
            Les cookies sont de petits fichiers texte qui sont installés sur votre ordinateur ou votre périphérique lorsque vous visitez nos sites Web.<br>
            <b>Finalité des cookies</b><br>
            Nous utilisons les cookies afin de rendre vos visites et vos achats sur nos sites plus efficaces. Les cookies nous permettent également d'améliorer la navigation sur nos sites et de comprendre vos comportements d'achat.<br>
            <b>Informations collectées grâce aux cookies</b><br>
            Les cookies nous aident à recueillir des renseignements sur la façon dont vous utilisez notre site Web, mais nous ne conservons aucune information permettant de vous identifier personnellement dans les données de nos cookies vous concernant.<br>
            <b>Types de cookies</b><br>
            Cookies de session : les cookies de ce type sont temporairement stockés sur votre ordinateur ou votre périphérique pendant une session de navigation. Ils sont effacés de votre ordinateur ou de votre périphérique à la fin de la session de navigation.<br>
            <b>Gestion des cookies</b><br>
            Le menu de la plupart des navigateurs comporte des options vous permettant de gérer vos cookies en réglant ou en configurant vos paramètres de cookies. Généralement, le navigateur vous offre la possibilité :<br>
            D'afficher vos cookies ;<br>
            D'autoriser les cookies ;<br>
            De désactiver tous les cookies, ou uniquement des cookies précis ;<br>
            De désactiver tous les cookies lorsque vous fermez votre navigateur ;<br>
            De bloquer les cookies ;<br>
            D'être informé lorsque vous recevez un cookie.<br>
            Veuillez noter qu'à moins que vous n'ayez réglé les paramètres de votre navigateur de façon à refuser les cookies, notre système émettra des cookies dès que vous vous rendrez sur l'un de nos sites.<br>
            <b>Informations supplémentaires sur les cookies</b><br>
            Pour en savoir plus sur les cookies, nous vous invitons à consulter la page de la <a href=https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur>CNIL</a>.<br>
            Ainsi que notre page dédiée à notre <a href="/mentions.html">politique de confidentialité</a><br>
            <b>Droit applicable</b><br>
            Les présentes conditions générales sont soumises au droit français. La langue des conditions générales est la langue française. En cas de litige, les tribunaux français sont seuls compétents. </p>
    </div>
</body>
</html>