<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Gestion des cookies</title>
</head>
<body>
    <div class="contact_container">
        <h2>Gestion des cookies</h2>
        <p class="text">à faire ici</p>
    </div>
</body>
</html>