<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

</body>
<footer>
    <div id="footer">
    <div class="flex_container">
        <p class="footer_flex"><a href="/mentions.html">Mentions légales</a></p>
        <p class="footer_flex"><a href="/cookies.html">Gestion des cookies</a></p>
        <p class="footer_flex"><a href="/contact.html">Contactez-nous</a></p>
    </div>
    </div>
</footer>
</html>