<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="fragments/fragments :: headerfiles"></div>
    <title>Catalogue</title>
</head>
<body>

<h2>Gestion des Catégories et Sous-Catégories</h2>
<table>
    <thead>
    <tr>
        <th>Catégorie</th>
        <th>Sous-Catégories</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categoryNamesList}" >
        <td>
            <p th:text="${category.categoryName}"></p>
            <form th:action="@{/categories/update}" method="post" style="display:inline;">
                <input type="hidden" name="bddname" th:value="${bddname}">
                <input type="hidden" name="categoryId" th:value="${category.id}">
                <input type="text" name="newCategoryName" required> <br/>
                <button type="submit">Modifier</button>
            </form>
            <form th:action="@{/categories/delete}" method="post" style="display:inline;">
                <input type="hidden" name="bddname" th:value="${bddname}">
                <input type="hidden" name="categoryId" th:value="${category.id}">
                <button type="submit">Supprimer</button>

        </td>
        <td>
            <ul>
                <li th:each="subCategory : ${subCategoryList}" th:if="${subCategory.id_category == category.id}">
                    <span th:text="${subCategory.subCategoryName}"></span>
                    <form th:action="@{/subcategories/update}" method="post" style="display:inline;">
                        <input type="hidden" name="bddname" th:value="${bddname}">
                        <input type="hidden" name="subCategoryId" th:value="${subCategory.id}">
                        <input type="text" name="newSubCategoryName" required>
                        <button type="submit">Modifier</button>
                    </form>
                    <form th:action="@{/subcategories/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="bddname" th:value="${bddname}">
                        <input type="hidden" name="subCategoryId" th:value="${subCategory.id}">
                        <button type="submit">Supprimer</button>
                    </form>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>