<!DOCTYPE html>
<html lang="en">

<head th:insert="header">

    <meta charset="UTF-8">
    <title>Catalogue</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

<h2>Gestion des Catégories et Sous-Catégories</h2>
<table>
    <thead>
    <tr>
        <th>Catégorie</th>
        <th>Sous-Catégories</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categoryNamesList}" >
        <td>
            <p th:text="${category.categoryName}"></p>
            <form th:action="@{/categories/updateCategory}" method="post" style="display:inline;">
                <input type="hidden" name="bddname" th:value="${bddname}">
                <input type="hidden" name="id_category" th:value="${category.id}">
                <input type="text" name="categoryName" required> <br/>
                <button type="submit">Modifier</button>
            </form>
            <form th:action="@{/categories/deleteCategory}" method="post" style="display:inline;">
                <input type="hidden" name="bddname" th:value="${bddname}">
                <input type="hidden" name="id_category" th:value="${category.id}">
                <button type="submit">Supprimer</button>
            </form>
        </td>
        <td>
            <ul>
                <li th:each="subCategory : ${subCategoryList}" th:if="${subCategory.id_category == category.id}">
                    <span th:text="${subCategory.subCategoryName}"></span>
                    <form th:action="@{/subcategories/update}" method="post" style="display:inline;">
                        <input type="hidden" name="bddname" th:value="${bddname}">
                        <input type="hidden" name="subCategoryId" th:value="${subCategory.id}">
                        <input type="text" name="newSubCategoryName" required>
                        <button type="submit">Modifier</button>
                    </form>
                    <form th:action="@{/subcategories/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="bddname" th:value="${bddname}">
                        <input type="hidden" name="subCategoryId" th:value="${subCategory.id}">
                        <button type="submit">Supprimer</button>
                    </form>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>