<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    <div class="text_container"> <a href="/proxishop"><h1 id="main_title">ProxiShop</h1></a>
    <h3> Boostez votre commerce local avec ProxiShop :<br> Créez, personnalisez et vendez en ligne en un claquement de doigts !</h3>
</div>

</head>
<body>

</body>
</html>