<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Index</h1>

<div class="Session">
    <a href="/shopkeeper/login">Sign In</a>
    <a href="/shopkeeper/accountCreation">Sign Up</a>
</div>

<a href="/shopkeeper"><button>Shopkeeper</button></a>
<br><br>
<a href="/shopkeeper/orderlist"><button>Orderlist</button></a>
<br><br>
<a href="/proxishop"><button>ProxiShop</button></a>
<br><br>
<a href="/shopkeeper/newbdd"><button>NewBdd</button></a>
<br><br>
<a href="/categories/gestionCategories"><button>Gestion des Catégories</button></a>

</body>
<footer th:insert="fragments/fragments :: footer"></footer>
</html>