<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/fragments :: headerfiles"></div>
    <title>Index</title>
</head>
<body>

<div th:insert="fragments/fragments :: headerProxi"></div>

<div class="container mt-5">
    <h1 class="text-center">Index</h1>

    <!-- Section pour la connexion / inscription -->
    <div class="d-flex justify-content-end mb-4">
        <a href="/shopkeeper/login" class="btn btn-primary me-2">Sign In</a>
        <a href="/shopkeeper/accountCreation" class="btn btn-outline-primary">Sign Up</a>
    </div>

    <!-- Bouton vers Shopkeeper -->
    <div class="text-center mb-3">
        <a href="/shopkeeper">
            <button class="btn btn-secondary btn-lg">Shopkeeper</button>
        </a>
    </div>

    <!-- Bouton vers ProxiShop -->
    <div class="text-center mb-3">
        <a href="/proxishop">
            <button class="btn btn-secondary btn-lg">ProxiShop</button>
        </a>
    </div>

    <!-- Bouton de gestion des catégories -->
    <div class="text-center mb-3">
        <a href="/categories/gestionCategories">
            <button class="btn btn-secondary btn-lg">Gestion des Catégories</button>
        </a>
    </div>
</div>

</body>
<footer th:insert="fragments/fragments :: footer"></footer>
</html>