<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header">
    <meta charset="UTF-8">
    <title>mentions légales</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div id="mentions_container">
    <div id="mentions_coordonnees" class="mentions">
        <p class="text">

            <span class="bold">ProxiShop SARL</span><br>
            Siège social :  uneAdresse<br>
            SIRET : 123456789
        </p>
    </div>
    <div id="mentions_contact" class="mentions">
        <p class="text">
            <span class="bold">Contact :</span><br>
            mail : proxishop@gmail.com<br>
            tel° : 06 01 02 03 04
        </p>
    </div>
    <div id="mentions_publication" class="mentions">
        <p class="text">
        <span class="bold">Directeur de la publication :</span><br> "insérer nom + fonction dans l'entreprise"
        </p>
    </div>
    <div id="mentions_hebergement" class="mentions">
        <p class="text">
            <span class="bold">Hébergeur du site : unNom, uneFormeJuridique</span><br>
            Siège social : uneAdresse<br>
            mail : unmail@mail.com<br>
            tel° : 06 01 02 03 04
        </p>
    </div>
    </div>
    <br>
    <div id="cgv_mentions" class="mentions">

            <h2>Protection des données personnelles</h2>
        <p class="text">
            <span class="bold">Politique de confidentialité</span><br>

            Chez ProxiShop, nous nous engageons à protéger la vie privée de nos clients et utilisateurs. Conformément à la réglementation en vigueur, en particulier le Règlement Général sur la Protection des Données (RGPD), nous collectons et traitons les données personnelles de nos utilisateurs uniquement dans le cadre strict nécessaire à la fourniture de nos services.
            <br><br>
            <span class="bold">Collecte des données</span><br>
            Nous collectons les données personnelles suivantes : nom, prénom, adresse e-mail, Siret, historique des commandes et informations de paiement. Ces données sont collectées lors de la création d'un compte ou de la passation d'une commande de site.
            <br>
            <span class="bold">Utilisation des données</span><br>

            <br>
            Les données collectées sont utilisées pour :<br>
        </p>
            <ul>
                <li><p class="text">Gérer les comptes utilisateurs</p></li>
                <li><p class="text">Communiquer des informations sur nos produits, services et offres spéciales (sur la base de votre consentement ou de notre intérêt légitime)</p></li>
                <li><p class="text">Améliorer notre site et nos services</p></li>
            </ul>

        <p class="text">
            <span class="bold">Droits des utilisateurs</span><br>

            Vous avez le droit d'accéder, de rectifier, de supprimer et de porter vos données personnelles. Vous pouvez également vous opposer au traitement de vos données ou demander la limitation de leur traitement. Pour exercer ces droits, veuillez contacter notre délégué à la protection des données à l'adresse suivante : [adresse e-mail du DPO].
            <br><br>
            <span class="bold">Sécurité des données</span><br>

            Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, toute divulgation ou toute destruction.
            <br>
        </p>
            <h2>Propriété intellectuelle</h2>
        <p class="text">
            <span class="bold">Droits d'auteur et marques déposées</span><br>

            Tous les contenus présents sur le site ProxiShop, y compris mais sans s'y limiter, les textes, les images, les graphiques, les logos, les icônes de boutons, les logiciels et les vidéos, sont la propriété exclusive de proxiShop ou de ses fournisseurs de contenu, et sont protégés par les lois sur la propriété intellectuelle.
            <br><br>
            <span class="bold">Utilisation des contenus</span><br>

            Toute reproduction, distribution, modification, transmission, republication ou toute autre utilisation des contenus sans autorisation écrite préalable de ProxiShop est strictement interdite. Les marques déposées et les logos utilisés sur ce site sont la propriété de ProxiShop ou de tiers et ne peuvent être utilisés sans autorisation.
            <br>
        </p>
                <h2>Responsabilité</h2>
        <p class="text">
            <span class="bold">Limitation de responsabilité</span><br>

            ProxiShop ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation de ce site, y compris mais sans s'y limiter, les pertes de données, les pertes de profits ou les interruptions de service. Nous nous efforçons de maintenir l'exactitude et la mise à jour des informations présentées sur notre site, mais nous ne pouvons garantir l'absence d'erreurs ou d'omissions.
            <br><br>
            <span class="bold">Clause de non-responsabilité</span><br>

            ProxiShop décline toute responsabilité en cas de force majeure, de perturbations ou de grève, totale ou partielle qui empêcheraient l'exécution du contrat dans les délais prévus.

            En utilisant notre site, vous acceptez ces conditions générales de responsabilité.
            <br>
        </p>
                <h2>Médias sociaux</h2>
        <p class="text">
            <span class="bold">Utilisation des médias sociaux</span><br>

            ProxiShop maintient des comptes sur les réseaux sociaux Facebook et Instagram pour communiquer avec notre communauté, partager des informations sur nos services et interagir avec nos clients. En vous connectant à nos comptes sur ces plateformes, vous acceptez les conditions d'utilisation spécifiques de chaque réseau social.
            <br><br>
            <span class="bold">Politique d'utilisation des médias sociaux</span><br>

            Nous nous engageons à respecter les droits de propriété intellectuelle et les règles de conduite sur les médias sociaux. Tout contenu partagé par proxiShop, y compris les textes, les images et les vidéos, est destiné à informer et à promouvoir nos services. Nous encourageons les interactions positives et constructives, mais nous nous réservons le droit de supprimer tout contenu inapproprié ou offensant.
            <br><br>
            <span class="bold">Responsabilité</span><br>

            ProxiShop n'est pas responsable du contenu publié par les utilisateurs sur nos pages de médias sociaux. Nous ne cautionnons pas et ne sommes pas responsables des opinions, des conseils ou des déclarations exprimés par des tiers sur nos pages.
            <br>
            Pour toute question ou préoccupation concernant notre utilisation des médias sociaux, veuillez nous contacter à l'adresse suivante : proxishop@gmail.com.
            <br>
        </p>
                <h2>Droit applicable et juridiction compétente</h2>
        <p class="text">
            <span class="bold">Droit applicable</span><br>

            Les présentes conditions générales de service et tout contrat conclu entre ProxiShop et ses clients sont régis par le droit français, sauf dispositions impératives contraires.
            <br><br>
            <span class="bold">Juridiction compétente</span><br>

            Tout litige découlant de l'interprétation ou de l'exécution des présentes conditions générales de service sera de la compétence exclusive des tribunaux français, sauf disposition légale impérative contraire.

            En cas de litige, les parties s'efforceront de rechercher une solution amiable avant de recourir à l'intervention des juridictions compétentes.

            Pour toute question ou préoccupation concernant ces mentions légales, veuillez nous contacter à l'adresse suivante : proxishop@gmail.com.
        </p>
    </div>
</div>
</body>
<footer th:insert="footer"></footer>
</html>