<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/fragments :: headerfiles"></div>
    <title>mentions légales</title>
</head>
<body>
<div th:insert="fragments/fragments :: headerProxi"></div>
<div class="container mt-5">
    <div class="card p-4">
        <h2 class="text-center mb-4">Mentions légales</h2>

        <div class="d-flex flex-wrap mt-5 mb-4">
            <div class="flex-grow-1 me-4 text-center">
                <h3><strong>ProxiShop SARL</strong></h3>
                <p>
                    Siège social : uneAdresse<br>
                    SIRET : 123456789
                </p>
            </div>
            <div class="flex-grow-1 me-4 text-center">
                <h3><strong>Contact :</strong></h3>
                <p>
                    Email : <a href="mailto:proxishop@gmail.com" class="text-primary">proxishop@gmail.com</a><br>
                    Téléphone : 06 01 02 03 04
                </p>
            </div>
            <div class="flex-grow-1 me-4 text-center">
                <h3><strong>Directeur de la publication :</strong></h3>
                <p>"Insérer nom + fonction dans l'entreprise"</p>
            </div>
            <div class="flex-grow-1 text-center">
                <h3><strong>Hébergeur du site :</strong></h3>
                <p>
                    UnNom, uneFormeJuridique<br>
                    Siège social : uneAdresse<br>
                    Email : <a href="mailto:unmail@mail.com" class="text-primary">unmail@mail.com</a><br>
                    Téléphone : 06 01 02 03 04
                </p>
            </div>
        </div>

        <h2 class="mt-5 mb-4">Protection des données personnelles</h2>

        <p>
            <strong>Politique de confidentialité</strong><br>
            Chez ProxiShop, nous nous engageons à protéger la vie privée de nos clients et utilisateurs. Conformément à la réglementation en vigueur, en particulier le Règlement Général sur la Protection des Données (RGPD), nous collectons et traitons les données personnelles uniquement dans le cadre strict nécessaire à la fourniture de nos services.
        </p>

        <p>
            <strong>Collecte des données</strong><br>
            Nous collectons les données personnelles suivantes : nom, prénom, adresse e-mail, SIRET, historique des commandes et informations de paiement. Ces données sont collectées lors de la création d'un compte ou de la passation d'une commande.
        </p>

        <p><strong>Utilisation des données</strong></p>
        <ul>
            <li>Gérer les comptes utilisateurs</li>
            <li>Communiquer des informations sur nos produits, services et offres spéciales</li>
            <li>Améliorer notre site et nos services</li>
        </ul>

        <p>
            <strong>Droits des utilisateurs</strong><br>
            Vous avez le droit d'accéder, de rectifier, de supprimer et de porter vos données personnelles. Vous pouvez également vous opposer au traitement de vos données. Contactez notre délégué à la protection des données à : <a href="mailto:email@dpo.com" class="text-primary">[email du DPO]</a>.
        </p>

        <h2 class="mt-5 mb-4">Propriété intellectuelle</h2>
        <p>
            <strong>Droits d'auteur et marques déposées</strong><br>
            Tous les contenus présents sur le site ProxiShop, y compris les textes, images, graphiques, logos et vidéos, sont la propriété exclusive de ProxiShop ou de ses fournisseurs de contenu, et sont protégés par les lois sur la propriété intellectuelle.
        </p>

        <p>
            <strong>Utilisation des contenus</strong><br>
            Toute reproduction ou autre utilisation des contenus sans autorisation préalable de ProxiShop est interdite.
        </p>

        <h2 class="mt-5 mb-4">Responsabilité</h2>
        <p>
            <strong>Limitation de responsabilité</strong><br>
            ProxiShop ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation de ce site.
        </p>

        <h2 class="mt-5 mb-4">Médias sociaux</h2>
        <p>
            <strong>Utilisation des médias sociaux</strong><br>
            En vous connectant à nos comptes Facebook ou Instagram, vous acceptez les conditions d'utilisation spécifiques de chaque plateforme.
        </p>

        <h2 class="mt-5 mb-4">Droit applicable et juridiction compétente</h2>
        <p>
            <strong>Droit applicable</strong><br>
            Les présentes conditions générales sont régies par le droit français. En cas de litige, les tribunaux français sont seuls compétents.
        </p>
    </div>
</div>
<footer th:insert="fragments/fragments :: footer"></footer>
</body>
</html>