<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des commandes</title>
</head>
<body>
<h1>Liste des commandes</h1>
    <table>
        <thead>
        <tr>
            <th>Tags</th>
            <th>Numéro de Commande</th>
            <th>Montant total</th>
            <th>État</th>
            <th>id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, orderStat : ${orderList}">
            <td style="text-align: center" th:text="${order.tags}"></td>
            <td style="text-align: center" th:text="${order.orderNumber}"></td>
            <td style="text-align: center" th:text="${order.finalPrice}"></td>
            <td style="text-align: center" th:text="${order.state}"></td>
            <td style="text-align: center" th:text="${order.id}"></td>
            <td>
                <form action="/shopkeeper/updateOrder" method="post">
                    <input th:value="${order.id}" type="hidden" name="id">
                    <input th:value="${bddname}" type="hidden" name="bddname">
                    <button type="submit">Finir la commande</button>
                </form>
            </td>


        </tr>
        </tbody>
    </table>
</body>
</html>