<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Titre</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <select id="categorySelect" onchange="onCategorySelect(this.value)">
        <option value="">Sélectionnez une catégorie</option>
        <option th:each="categoryName : ${categoryNamesList}"
                th:value="${categoryName.getId()}"
                th:text="${categoryName.getCategoryName()}">
        </option>
    </select>
    </div>
    <div id="Select"></div>
    <div id="productsList"></div>


<script th:inline="javascript">

    var subcategoryList = [[${subCategoryList}]]
    var productList = [[${productList}]]
    var bddname = [[${bddname}]]
    function onCategorySelect(categoryId) {
        if (categoryId) {
            onClickCateg(categoryId);
        }
    }

    function onClickCateg(categoryId) {
        document.getElementById("productsList").innerHTML = "";
        console.log("Catégorie sélectionnée avec ID: " + categoryId);

        const select = document.getElementById("Select");

        select.innerHTML = `<select id="subcategorySelect" onChange="onSubCategorySelect(this.value)">
        <option value="">Sélectionnez une sous-catégorie</option></select>`

        var idcategory = parseInt(categoryId)
        const selectElement = document.getElementById("subcategorySelect");

        subcategoryList.forEach(function (subcategory){
            console.log(subcategory.id_category);

            if (subcategory.id_category === idcategory) {
                console.log(subcategory);
                selectElement.innerHTML += `<option value="${subcategory.id}">${subcategory.subCategoryName}</option>`;
            }

        });
    }

    function onSubCategorySelect(subCategoryId) {
        if (subCategoryId) {
            onClickSubCateg(subCategoryId);
        }
    }

    function onClickSubCateg(subCategoryId) {
        console.log("sous-catégorie sélectionnée avec ID: " + subCategoryId);

        const element = document.getElementById("productsList");

        element.innerHTML = `<ul id="productList"></ul>`

        var idSubCategory = parseInt(subCategoryId)
        const selectElement = document.getElementById("productList");

        productList.forEach(function (productList){
            if (productList.id_subCategory === idSubCategory) {
                selectElement.innerHTML += `<table>
                                                    <tr>
                                                        <td>Nom : ${productList.productName}</td>
                                                        <td>Prix : ${productList.price} €</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stock : ${productList.stock}</td>
                                                        <td>Description : ${productList.description}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><button class="modifierButton" data-product-id="${productList.id}">Modifier</button></td>
                                                        <td><button class="supprimerButton" data-product-id="${productList.id}">Supprimer</button></td>
                                                    </tr>
                                            </table>`;
            }
        });
        element.innerHTML += `<div id="addProduct"></div>`
        addProduct(subCategoryId);
        let modifierButton = document.getElementsByClassName('modifierButton')
        let supprimerButton = document.getElementsByClassName('supprimerButton')

        Array.from(modifierButton).forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.getAttribute('data-product-id');
                // Attention product.id et productId ne sont pas du même type ne pas utiliser le ===
                const product = productList.find(product => product.id == productId);
                document.getElementById('formAdd').action = "/products/updateProducts";
                document.getElementById('id_product').value = product.id;
                document.getElementById('productName').value = product.productName;
                document.getElementById('description').value = product.description;
                document.getElementById('price').value = product.price;
                document.getElementById('stock').value = product.stock;
                document.getElementById('image').value = product.image;
                document.getElementById('submit').innerText = "Modifier le produit";
            });
        });

        // Ajouter un écouteur d'événements pour chaque bouton "Supprimer"
        Array.from(supprimerButton).forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.getAttribute('data-product-id');
                // Attention product.id et productId ne sont pas du même type ne pas utiliser le ===
                const product = productList.find(product => product.id == productId);
                document.getElementById('formAdd').action = "/products/deleteProducts";
                document.getElementById('id_product').value = product.id;
                document.getElementById('productName').value = product.productName;
                document.getElementById('description').value = product.description;
                document.getElementById('price').value = product.price;
                document.getElementById('stock').value = product.stock;
                document.getElementById('image').value = product.image;
                document.getElementById('submit').innerText = "Supprimer le produit";
            });
        });

    }



    function addProduct(subCategoryId){
        const element = document.getElementById("addProduct");
        element.innerHTML = `<form id="formAdd" action="/products/addProducts" method="post" >
            <input type="hidden" name="subCategoryid" value="${subCategoryId}">
            <input type="hidden" name="bddname" value="${bddname}">
            <label for="productName">Nom du produit :</label>
            <input type="text" id="productName" name="productName">
            <br>
            <label for="description">Description du produit :</label>
            <textarea id="description" name="description" rows="5" cols="50"></textarea>
            <br>
            <label for="price">Prix :</label>
            <input type="number" id="price" name="price">
            <br>
            <label for="stock">Stock :</label>
            <input type="number" id="stock" name="stock">
            <br>
            <label for="image">Image :</label>
            <input type="text" id="image" name="image">
            <br>
            <button id="submit" type="submit">Ajouter un produit</button>
            <input type="hidden" id="id_product" name="id_product" value="">
        </form>`
    }

</script>


</body>
</html>