<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/fragments :: headerfiles"></div>
    <title>ProxiShop</title>
</head>

<body>
<div th:insert="fragments/fragments :: headerProxi"></div>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col text-center">
            <h2>Choisissez votre template</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="template-choice">
                    <a href="/shopkeeper/newbdd">
                        <img src="/images/téléchargement.png" alt="Template 1" class="img-fluid">
                    </a>
                </div>
                <div class="template-choice">
                    <a href="/template_choice2">
                        <img src="/images/téléchargement.png" alt="Template 2" class="img-fluid">
                    </a>
                </div>
                <div class="template-choice">
                    <a href="/template_choice3">
                        <img src="/images/téléchargement.png" alt="Template 3" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <p class="text-muted">Sélectionnez l'un des designs ci-dessus et personnalisez-les selon votre style et votre vision commerciale.</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Basique - 1,99€</h5>
                    <ul class="list-unstyled">
                        <li>1 catégorie de Produit</li>
                        <li>1 sous-catégorie de Produit</li>
                        <li>Assistance sous 48h*</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Medium - 4,99€</h5>
                    <ul class="list-unstyled">
                        <li>1 à 3 catégories de Produits</li>
                        <li>1 à 3 sous-catégories de Produit</li>
                        <li>Assistance sous 24h*</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Ultimate - 8,99€</h5>
                    <ul class="list-unstyled">
                        <li>1 à 5 catégories de Produits</li>
                        <li>1 à 5 sous-catégories de Produit</li>
                        <li>Assistance sous 2h*</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <p>Notre objectif ? Vous faciliter la vie !<br>Créez votre site d'e-commerce local avec simplicité et rapidité grâce à l'une de nos offres flexibles qui saura s'adapter à vos besoins !</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col text-center">
            <small class="text-muted">*Assistance par mail ou téléphone durant les horaires d'ouverture, hors jours fériés et fermetures exceptionnelles.</small>
        </div>
    </div>
</div>

<footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>