
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
    <meta charset="UTF-8">
    <title>ProxiShop</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="flex_container">
        <div id="template_choice1" class="template_choice">

                <img src="/images/téléchargement.png" alt="insérer ici une demo de la 1ere template_client">

        </div>

        <div id="template_choice2" class="template_choice">
                <img src="/images/téléchargement.png" alt="insérer ici une demo de la 2eme template_client">
        </div>

        <div id="template_choice3" class="template_choice">
                <img src="/images/téléchargement.png" alt="insérer ici une demo de la 3eme template_client">
        </div>


</div>

<div class="text_container">
<p class="text1">Selectionnez l'un des designs mis à votre disposition ci-dessus et apportez-y vos propres touches uniques en adaptant chaque élément à <span class="italique">votre</span> style et à <span class="italique">votre</span> vision commerciale </p>

</div>



<div class="flex_container">

        <div id="offer_b" class="offer_choice">
            <h2>Basique</h2>
            <p class="text"><ul>
                    <li>1 à 3 catégories de Produits</li>
                    <li>1 à 3 sous catégories par Produit</li>
                    <li>Assistance sous 48h* </li>
            </ul></P>
        </div>

        <div id="offer_m" class="offer_choice">
            <h2>Medium</h2>
            <p class="text"><ul>
                <li>1 à 10 catégories de Produits</li>
                <li>1 à 10 sous catégories par Produit</li>
                <li>Assistance sous 24h* </li>
            </ul></P>
        </div>

        <div id="offer_u" class="offer_choice">
            <h2>Ultimate</h2>
            <p class="text"><ul>
                <li>1 à 20 catégories de Produits</li>
                <li>1 à 20 sous catégories par Produit</li>
                <li>Assistance sous 2h* </span></li>
            </ul></P>
        </div>
</div>
<div class="text_container">
<p class="text">Notre objectif? Vous faciliter la vie!<br>Créez votre site d'e-commerce local avec simplicité et rapidité grâce à l'une de nos offres flexibles qui saura s'adapter à vos besoins!</p>
<span class="tiny_text"> *Assistance par mail ou téléphone durant les horaires d'ouvertures hors jours fériés et fermetures exceptionnelles.</span>
<br>
</div>
</body>
<footer th:include="footer">
</footer>
</html>